{% extends 'usercenter_base.html' %}
{% load staticfiles %}
{% block title %}
    我的收藏 - 慕雪在线网
{% endblock %}
{% block crumbs %}
    <div class="wp">
        <ul class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
            <li><a href="{% url 'usercenterinfo' %}">个人中心</a>></li>
            <li>我的收藏</li>
        </ul>
    </div>
{% endblock %}
{% block left %}
    <div class="left">
        <ul>
            <li ><a href="{% url 'usercenterinfo' %}">个人资料</a></li>
            <li><a href="{% url 'my_course' %}">我的课程</a></li>
            <li class="active2"><a href="{% url 'my_fav' 1 %}">我的收藏</a></li>
            <li>
                <a href="{% url 'my_message' %}" style="position: relative;">
                    我的消息
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block right %}

    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的收藏</h1>
            </div>

        </div>
        <div class="personal_des permessage">
            <div class="head">
                <ul class="tab_header messagehead">
                    <li class="active"><a href="{% url 'my_fav' 2 %}">课程机构</a></li>
                    <li><a href="{% url 'my_fav' 3 %}">授课教师 </a></li>
                    <li><a href="{% url 'my_fav' 1 %}">公开课程</a></li>
                </ul>
            </div>
            <div class="messagelist">
                {% for org in data %}
                    <div class="messages butler_list company company-fav-box">
                        <dl class="des fr">
                            <dt>
                                <a href="{% url 'organization:org_detail_homepage' org.id %}">
                                    <img width="160" height="90" src="{{ MEDIA_URL }}{{ org.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1><a href="{% url 'organization:org_detail_homepage' org.id %}">{{ org.name }}</a>
                                </h1>
                                <div class="pic fl" style="width:auto;">
                                    <img src="{% static 'images/authentication.png' %}"/>
                                    <img src="{% static 'images/gold.png' %}"/>
                                </div>
                                <span class="c8 clear">{{ org.city }}</span>
                                <div class="delete jsDeleteFav" data-favid="{{ org.id }}" data-favtype="2"></div>
                            </dd>
                        </dl>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

